body {
  font-family: "CeraPro", sans-serif;
  font-size: 15px;
  color: var(--primary-color);
}

.container {
  max-width: 1230px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.btn {
  display: flex;
  align-items: center;
  column-gap: 4px;
  cursor: pointer;
  border-radius: 6px;
  background-color: var(--accent-color);
  color: #fff;
  padding: 8px 16px;
}

.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}
