.blog {
  padding-bottom: 70px;
}

.blog__header {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  row-gap: 15px;
  margin-bottom: 35px;
}

.blog__title {
  font-weight: 700;
  font-size: 30px;
}

.blog__text {
  font-size: 14px;
  line-height: 1.5;
  color: var(--secondary-color);
}

.blog__cards {
  display: flex;
  gap: 44px;
  flex-wrap: wrap;
}

.blog-card {
  flex: 1 1 250px;
  background-color: var(--bg-color);
}

.blog-card__img {
  aspect-ratio: 1.34 / 1;
}

.blog-card__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.blog-card__content{
  display: flex;
  flex-direction: column;
  row-gap: 4px;
  padding: 10px;
}

.blog-card__sub-title {
  font-weight: 500;
  font-size: 14px;
  color: var(--accent-color);
}

.blog-card__sub-title span:not(:first-child)::before {
  content: "";
  display: inline-block;
  height: 1cap;
  width: 1px;
  background-color: var(--accent-color);
  margin-right: 5px;
}

.blog-card__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.3;
}

.blog-card__text {
  font-size: 14px;
  line-height: 1.5;
  color: var(--secondary-color);
}

.blog-card__link {
  width: fit-content;
  font-weight: 500;
  font-size: 14px;
  color: var(--primary-color);
  display: flex;
  align-items: center;
  column-gap: 3px;
}

.blog-card__link:hover {
  color: var(--accent-color);
}

.blog-card__link:hover path {
  fill: var(--accent-color);
}
