.catalog {
  padding-top: 46px;
  display: flex;
  column-gap: 50px;
}

.sidebar {
  min-width: 310px;
  background-color: var(--bg-color);
  padding-top: 14px;
}

.sidebar__title {
  font-size: 18px;
  font-weight: 700;
  color: var(--primary-color);
  padding-left: 18px;
  padding-bottom: 15px;
}

.menu-categories {
  padding-left: 30px;
  padding-right: 24px;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  padding-bottom: 20px;
}

.menu-categories__link {
  display: flex;
  justify-content: space-between;
  font-size: 15px;
  line-height: 1.5;
  color: var(--primary-color);
  transition-property: color;
  transition-duration: var(--animation-duration);
  transition-timing-function: ease;
}

.menu-categories__link--active {
  pointer-events: none;
}

.menu-categories__link:hover,
.menu-categories__link--active {
  color: var(--accent-color);
}

.sidebar__banner img {
  display: block;
  width: 100%;
  height: auto;
}

.catalog {
  display: flex;
  align-items: flex-start;
}

.catalog__content {
  flex-grow: 1;
}

.catalog__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 30px;
}

.catalog__nav {
  display: flex;
  column-gap: 40px;
  align-items: center;
}

.catalog__nav-link {
  color: var(--primary-color);
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 2px solid transparent;
  transition-property: color, border-color;
  transition-duration: var(--animation-duration);
  transition-timing-function: ease;
}

.catalog__nav-link--active {
  cursor: default;
}

.catalog__nav-link:hover,
.catalog__nav-link--active {
  color: var(--accent-color);
  border-color: var(--accent-color);
}

.filter {
  display: flex;
  align-items: center;
  column-gap: 8px;
}

.filter__btn {
  font-family: "CeraPro", sans-serif;
  font-size: 15px;
  padding: 0;
  display: flex;
  align-items: center;
  column-gap: 5px;
  color: var(--primary-color);
  cursor: pointer;
  transition-property: color;
  transition-duration: var(--animation-duration);
  transition-timing-function: ease;
}

.filter__btn:hover {
  color: var(--accent-color);
}

.filter__btn-icon {
  font-size: 16px;
}

.cards-box {
  display: flex;
  gap: 33px;
  flex-wrap: wrap;
}

.card-item {
  flex: 1 1 258px;
  border-top: 1px solid transparent;
  transition-property: border-color;
  transition-duration: var(--animation-duration);
  transition-timing-function: ease;
}

.card-item:hover {
  border-color: var(--accent-color);
}

.card-item:hover .card-action {
  visibility: visible;
  opacity: 1;
}

.card-action {
  display: flex;
  column-gap: 10px;
  justify-content: center;
  position: absolute;
  bottom: 10px;
  left: 0;
  right: 0;
  pointer-events: none;
  opacity: 0;
  visibility: hidden;
  transition-property: opacity, visibility;
  transition-duration: var(--animation-duration);
  transition-timing-function: ease;
  z-index: 1;
}

.card-action__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  background-color: #fff;
  border-radius: 4px;
  pointer-events: auto;
  cursor: pointer;
}

.card-action__btn:hover .icon {
  color: var(--accent-color);
}

.card-item__link-wrapper {
  display: block;
  height: 300px;
  position: relative;
  background-color: var(--bg-color);
}

.card-item__content {
  display: flex;
  flex-direction: column;
  row-gap: 6px;
  padding-top: 12px;
}

.card-item__image {
  position: relative;
}

.card-item__image img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;
}

.card-item__badge {
  position: absolute;
  top: 15px;
  left: 0;
  display: block;
  padding: 6px 8px;
  background-color: var(--accent-color);
  color: #fff;
  font-weight: 500;
  font-size: 16px;
}

.card-item__title {
  font-size: 16px;
  color: var(--primary-color);
}

.card-item__price {
  font-weight: 700;
  font-size: 18px;
  color: var(--accent-color);
}

.card-item__price-sale {
  color: #a5a5a5;
  margin-left: 16px;
  text-decoration: line-through;
  font-weight: 400;
}

.pagination {
  display: flex;
  justify-content: flex-end;
  padding-top: 90px;
  align-items: center;
  column-gap: 10px;
}

.pagination__link {
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 10px;
  font-size: 18px;
  font-weight: 300;
  color: var(--primary-color);
  background-color: #fff;
  border: 1px solid #dee2e6;
  border-radius: 5px;
  transition-property: color, background-color, border-color;
  transition-duration: var(--animation-duration);
  transition-timing-function: ease;
}

.pagination__link--active {
  cursor: default;
}

.pagination__link:hover,
.pagination__link--active {
  font-weight: 700;
  background-color: var(--accent-color);
  border-color: transparent;
  color: #fff;
}
