.check {
  display: flex;
  column-gap: 0.6em;
  user-select: none;
}

.check__box {
  position: relative;
  height: 1em;
  width: 1em;
  border-radius: 6px;
  box-shadow: 0 0 0 1px rgba(61, 61, 61, 1);
  background-color: #fff;
  transition-property: background-color, box-shadow;
  transition-duration: var(--animation-duration);
  transition-timing-function: ease;
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 1em;
    width: 1em;
    background-image: url(../img/check.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0;
    transition-property: opacity;
    transition-duration: var(--animation-duration);
    transition-timing-function: ease;
  }
}

.check__input {
  &:checked + .check__box {
    background-color: var(--accent-color);
    &::before {
      opacity: 1;
    }
  }
  &:focus + .check__box {
    box-shadow: 0 0 0 1px var(--primary-color),
      0 0 0 2px rgba(var(--accent-color--rgb), 0.6);
  }
  &:disabled + .check__box {
    background-color: #6f7f72;
    box-shadow: 0 0 0 1px var(--primary-color);
    opacity: 0.6;
  }
}

.check:has(input[type="checkbox"]:not(:disabled)) {
  cursor: pointer;
}
