/* ----- for cross-browser compatibility ----- */

@font-face {
  font-family: "CeraPro", sans-serif;
  src: local("CeraPro"),
    url("../fonts/CeraProLight.eot") format("embedded-opentype"),
    url("../fonts/CeraProLight.woff2") format("woff2"),
    url("../fonts/CeraProLight.woff") format("woff"),
    url("../fonts/CeraProLight.ttf") format("truetype"),
    url("../fonts/CeraProLight.svg") format("svg");
  font-weight: 300;
}

@font-face {
  font-family: "CeraPro", sans-serif;
  src: local("CeraPro"),
    url("../fonts/CeraProRegular.eot") format("embedded-opentype"),
    url("../fonts/CeraProRegular.woff2") format("woff2"),
    url("../fonts/CeraProRegular.woff") format("woff"),
    url("../fonts/CeraProRegular.ttf") format("truetype"),
    url("../fonts/CeraProRegular.svg") format("svg");
  font-weight: 400;
}

@font-face {
  font-family: "CeraPro", sans-serif;
  src: local("CeraPro"),
    url("../fonts/CeraProMedium.eot") format("embedded-opentype"),
    url("../fonts/CeraProMedium.woff2") format("woff2"),
    url("../fonts/CeraProMedium.woff") format("woff"),
    url("../fonts/CeraProMedium.ttf") format("truetype"),
    url("../fonts/CeraProMedium.svg") format("svg");
  font-weight: 500;
}

@font-face {
  font-family: "CeraPro", sans-serif;
  src: local("CeraPro"),
    url("../fonts/CeraProBold.eot") format("embedded-opentype"),
    url("../fonts/CeraProBold.woff2") format("woff2"),
    url("../fonts/CeraProBold.woff") format("woff"),
    url("../fonts/CeraProBold.ttf") format("truetype"),
    url("../fonts/CeraProBold.svg") format("svg");
  font-weight: 700;
}

@font-face {
  font-family: "CeraPro", sans-serif;
  src: local("CeraPro"),
    url("../fonts/CeraProBlack.eot") format("embedded-opentype"),
    url("../fonts/CeraProBlack.woff2") format("woff2"),
    url("../fonts/CeraProBlack.woff") format("woff"),
    url("../fonts/CeraProBlack.ttf") format("truetype"),
    url("../fonts/CeraProBlack.svg") format("svg");
  font-weight: 900;
}

@font-face {
  font-family: "EncodeSansExpanded", sans-serif;
  src: local("EncodeSansExpanded"),
    url("../fonts/EncodeSansExpanded-Regular.eot") format("embedded-opentype"),
    url("../fonts/EncodeSansExpanded-Regular.woff2") format("woff2"),
    url("../fonts/EncodeSansExpanded-Regular.woff") format("woff"),
    url("../fonts/EncodeSansExpanded-Regular.ttf") format("truetype"),
    url("../fonts/EncodeSansExpanded-Regular.svg") format("svg");
  font-weight: 400;
}

@font-face {
  font-family: "EncodeSansExpanded", sans-serif;
  src: local("EncodeSansExpanded"),
    url("../fonts/EncodeSansExpanded-Regular.eot") format("embedded-opentype"),
    url("../fonts/EncodeSansExpanded-Bold.woff2") format("woff2"),
    url("../fonts/EncodeSansExpanded-Bold.woff") format("woff"),
    url("../fonts/EncodeSansExpanded-Bold.ttf") format("truetype"),
    url("../fonts/EncodeSansExpanded-Bold.svg") format("svg");
  font-weight: 700;
}
