.popular {
  display: flex;
  column-gap: 28px;
  row-gap: 28px;
  padding-top: 70px;
  padding-bottom: 70px;
  flex-wrap: wrap;
  @media (max-width: 425px) {
    padding-top: 35px;
  }
}

.popular__item {
  position: relative;
  flex: 1 1 400px;
  background-color: var(--bg-color);
  padding-top: 35px;
  padding-bottom: 45px;
  margin-top: 50px;
  @media (max-width: 768px) {
    & {
      margin-inline: -15px;
      padding-inline: 15px;
    }
  }
  @media (max-width: 425px) {
    & {
      display: flex;
      flex-direction: column;
      align-items: center;
      row-gap: 30px;
      margin-top: 0;
    }
  }
}

.popular__img {
  position: absolute;
  left: 0;
  bottom: 0;
  top: -50px;
  width: 50%;
  @media (max-width: 425px) {
    & {
      position: static;
      width: 70%;
    }
  }
}

.popular__img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.popular__content {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  max-width: 290px;
  width: 50%;
  padding-right: 30px;
  margin-left: auto;
  text-align: right;
  padding-left: 10px;
  @media (max-width: 425px) {
    padding-right: 0;
    margin-left: 0;
    align-items: flex-start;
    text-align: left;
    width: 100%;
    max-width: 100%;
  }
}

.popular__title {
  max-width: 150px;
  font-weight: 900;
  font-size: 18px;
  margin-bottom: 10px;
}

.popular__text {
  font-size: 14px;
  color: var(--secondary-color);
  margin-bottom: 25px;
}

.popular__btn {
  column-gap: 5px;
  padding: 10px 28px;
  font-size: 14px;
  font-weight: 500;
}

.popular__icon {
  --icon-size: 18px;
}
