@import "./reset.css";

.container {
  width: 83.33%;
  margin: 0 auto;
}

.header {
  border-bottom: 1px solid #46A358;
  padding-top: 30px;
  font-size: 0;
}

.header__logo {
  display: inline-block;
  width: 25%;
  vertical-align: top;
}

.header__logo-link {
  display: block;
  width: 150px;
}

.header__nav {
  display: inline-block;
  width: 50%;
  vertical-align: top;
}

.header__list {
  text-align: center;
}

.header__list-item {
  display: inline-block;
}

.header__list-link {
  color: #3D3D3D;
  font-size: 16px;
  display: block;
  padding-bottom: 25px;
  border-bottom: 3px solid transparent;
  padding-top: 8px;
}

.header__list-link_active {
  font-weight: 700;
  border-bottom-color: #46A358;
  pointer-events: none;
}

.header__list-link:hover {
  border-bottom-color: #46A358;
}

.header__buttons {
  display: inline-block;
  width: 25%;
  text-align: right;
  vertical-align: top;
}

.header__list-item:not(:last-child) {
  margin-right: 50px;
}

.btn {
  background-color: #46A358;
  border: none;
  border-radius: 6px;
  color: #fff;
  vertical-align: middle;
}

.btn_small {
  padding: 8px 17px;
  line-height: 20px;
}

.btn img {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 4px;
  vertical-align: middle;
}
