@import "./reset.css";
@import "./fonts.css";

body {
  font-family: "CeraPro", sans-serif;
  font-size: 16px;
  color: #3d3d3d;
}

img {
  max-width: 100%;
  object-fit: contain;
  vertical-align: bottom;
}

.container {
  width: 83.333%;
  margin: 0 auto;
}

.shop {
  padding-top: 171px;
}

.shop::after {
  content: "";
  display: block;
  clear: both;
}

.sidebar {
  width: 26%;
  float: left;
  padding-top: 14px;
  background-color: #fbfbfb;
}

.sidebar__title {
  margin-left: 18px;
  margin-bottom: 35px;
  font-size: 18px;
  font-weight: 700;
}

.menu-categories {
  margin-left: 30px;
  margin-bottom: 286px;
}

.menu-categories__item {
  margin-bottom: 25px;
  white-space: nowrap;
}

.menu-categories__link {
  font-size: 15px;
  color: #3d3d3d;
  transition-property: color;
  transition-duration: 0.2s;
  transition-timing-function: ease;
}

.menu-categories__link:hover {
  color: #46a358;
}

.sidebar__banner img {
  width: 100%;
  height: 100%;
  object-position: center;
}

.content {
  float: left;
  width: 74%;
  padding-left: 50px;
  vertical-align: top;
  margin-bottom: 20px;
}

.filter {
  margin-bottom: 30px;
}

.filter::after {
  content: "";
  display: block;
  clear: both;
}

.nav {
  width: 70%;
  float: left;
}

.nav__link {
  display: inline-block;
  padding-bottom: 10px;
  border-bottom: 2px solid transparent;
  font-size: 15px;
  color: #3d3d3d;
  transition-property: color, border-color;
  transition-duration: 0.2s;
  transition-timing-function: ease;
}

.nav__link:not(:last-child) {
  margin-right: 40px;
}

.nav__link_active {
  font-weight: 700;
  border-color: #46a358;
  color: #46a358;
  cursor: default;
}

.nav__link:hover {
  border-color: #46a358;
  color: #46a358;
}

.drop-down {
  width: 30%;
  float: left;
}

.drop-down span {
  margin-right: 8px;
  font-size: 15px;
}

.drop-down button {
  border: none;
  background-color: transparent;
  font-family: "CeraPro", sans-serif;
  font-size: 15px;
  color: #3d3d3d;
  transition-property: color;
  transition-duration: 0.2s;
  transition-timing-function: ease;
}

.drop-down button:hover {
  color: #46a358;
  cursor: pointer;
}

.drop-down img {
  width: 16px;
  height: 16px;
}

.filter__drop-down {
  text-align: end;
}

.cards {
  margin-right: -15px;
  margin-left: -15px;
}

.cards::after {
  content: "";
  display: block;
  clear: both;
}

.card {
  width: 33.3333%;
  max-height: 350px;
  float: left;
  padding-right: 15px;
  padding-left: 15px;
  margin-bottom: 70px;
}

.card__image {
  width: 100%;
  height: 300px;
  background-color: #fbfbfb;
  padding: 5px;
  margin-bottom: 12px;
}

.card__image img {
  width: 100%;
  height: 100%;
  object-position: center;
}

.card__title {
  margin-bottom: 6px;
  line-height: 1.2;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.card__price {
  font-weight: 700;
  color: #46a358;
}

.pagination {
  text-align: end;
  margin-bottom: 80px;
}

.pagination__item {
  display: inline-block;
}

.pagination__link {
  width: 35px;
  height: 35px;
  display: block;
  padding: 8px 10px;
  text-align: center;
  font-size: 18px;
  font-weight: 300;
  color: #3d3d3d;
  background-color: #fff;
  border: 1px solid #dee2e6;
  border-radius: 5px;
}

.pagination__link:not(:last-child) {
  margin-right: 10px;
}

.pagination__link img {
  width: 18px;
  height: 18px;
}

.pagination__link_active {
  font-weight: 700;
  background-color: #46a358;
  border-color: transparent;
  color: #fff;
  cursor: default;
}

.pagination__link:hover {
  font-weight: 700;
  background-color: #46a358;
  border-color: transparent;
  color: #fff;
}