.welcome {
  background-color: var(--bg-color);
  padding-top: 68px;
  padding-bottom: 85px;
  background-image: url(../img/plants.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
  @media (max-width: 1024px) {
    & {
      background-position: right -200px center;
      margin-inline: -15px;
      padding-inline: 15px;
    }
  }
  @media (max-width: 768px) {
    & {
      padding-bottom: 300px;
      background-size: auto 400px;
      background-position: bottom;
    }
  }
  @media (max-width: 425px) {
    & {
      padding-top: 34px;
    }
  }
}

.welcome__content {
  max-width: 560px;
  padding-left: 40px;
  font-size: 14px;
  @media (max-width: 768px) {
    & {
      padding-left: 0;
    }
  }
}

.welcome__sub-title {
  margin-bottom: 7px;
  font-weight: 500;
}

.welcome__title {
  margin-bottom: 5px;
  font-weight: 900;
  font-size: 70px;
  @media (max-width: 1024px) {
    & {
      font-size: 60px;
    }
  }
  @media (max-width: 425px) {
    & {
      font-size: 45px;
    }
  }
}

.welcome__title span {
  color: var(--accent-color);
}

.welcome__text {
  margin-bottom: 44px;
  color: var(--secondary-color);
  line-height: 1.7;
  @media (max-width: 425px) {
    & {
      font-size: 12px;
    }
  }
}

.welcome__btn {
  text-transform: uppercase;
  padding: 10px 26px;
  font-size: 16px;
  font-weight: 700;
}
